<!-- wp:template-part {"slug":"header","theme":"shopcity","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}}},"layout":{"type":"constrained","contentSize":"1180px"}} -->
<main class="wp-block-group" style="padding-top: var(--wp--preset--spacing--70); padding-right: var(--wp--preset--spacing--40); padding-bottom: var(--wp--preset--spacing--70); padding-left: var(--wp--preset--spacing--40)">
  <!-- wp:woocommerce/page-content-wrapper {"page":"cart"} -->
  <!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
  <main class="wp-block-group">
    <!-- wp:woocommerce/store-notices /-->

    <!-- wp:post-content {"align":"wide"} /-->
  </main>
  <!-- /wp:group -->
  <!-- /wp:woocommerce/page-content-wrapper -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"shopcity","tagName":"footer"} /-->
