<!-- wp:template-part {"slug":"header","theme":"shopcity","area":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"constrained","contentSize":"100%"}} -->
<main class="wp-block-group" style="padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0">
  <!-- wp:post-featured-image /-->

  <!-- wp:post-content {"layout":{"type":"default"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"shopcity","area":"footer"} /-->
